.body {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-bottom: 36px;
}
.footerText, .footerLink {
    font-family: SequelSans-Body,sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    text-align: center;
    max-width: 370px;
}
.form_block {
    border-radius: 0.2rem;
    padding: 24px;
    max-width: 370px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_block_MEC {
    max-width: 400px;
}

